@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
html,
body,
.full-size {
  width: 100%;
  height: 100%;
}
.tb-logo {
  font-family: 'Ubuntu';
  font-weight: 700;
}
/* ==== Page: Web ==== */
.page-web .type-brand {
  height: 61.8%;
}
.page-web .type-brand .tb-logo {
  display: inline-block;
  font-size: 140px;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-52%);
}
.page-web .type-colorful {
  position: absolute;
  bottom: 38.2%;
  width: 100%;
  height: 24px;
  margin-bottom: 28.799999999999997px;
  text-align: center;
}
.page-web .type-colorful > *,
.page-web .type-colorful > *:after {
  border-radius: 50%;
}
.page-web .type-colorful > * {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
.page-web .type-colorful .name,
.page-web .type-colorful .hex {
  display: none;
}
.page-web .type-neutral {
  height: 38.2%;
  display: flex;
}
.page-web .color {
  position: relative;
  height: 100%;
  flex: 1 0 0;
  text-align: center;
  cursor: pointer;
}
.page-web .color .name {
  position: absolute;
  top: 8px;
  left: 8px;
}
.page-web .color .hex {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.page-web .color .purpose {
  position: relative;
  top: 45%;
  font-size: 70%;
  opacity: 0;
  transition: all 318ms;
}
.page-web .color:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: #000;
  transition: all 318ms;
}
.page-web .color:hover .purpose {
  opacity: 0.8;
}
.page-web .color:hover:after {
  opacity: 0.05;
  visibility: visible;
}
.page-web .color.gray90,
.page-web .color.gray93,
.page-web .color.gray97,
.page-web .color.white,
.page-web .color.gray90 > *,
.page-web .color.gray93 > *,
.page-web .color.gray97 > *,
.page-web .color.white > * {
  color: #383838 !important;
}
