doctype html
html(lang="en")
  head
    title TB-Colors for Web
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="stylesheet", href='../styles.css')

  body.page-web
    .color-palette.full-size
      each type, key in colors
        div(class="type-#{key}")
          each hex, name in type
            div(class="color #{name}", style = {"background-color": hex}, "data-clipboard-text"= hex)
              if key == 'brand'
                span.tb-logo t
              span.name $#{name}
              span.hex #{hex}

    script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js")
    script(src="../scripts.js")
